[builderList partHomeList]
modelClass = "MochalovNikita\Zapchasti\Models\Part"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "Запчастней не найдено"
detailsPage = "single-part"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 8
pageNumber = "{{ :page }}"
sortColumn = "id"
sortDirection = "desc"
==
{% set records = partHomeList.records %}
{% set displayColumn = partHomeList.displayColumn %}
{% set noRecordsMessage = partHomeList.noRecordsMessage %}
{% set detailsPage = partHomeList.detailsPage %}
{% set detailsKeyColumn = partHomeList.detailsKeyColumn %}
{% set detailsUrlParameter = partHomeList.detailsUrlParameter %}
    {% for record in records %}

                                        <div class="w-full bg-gray-100 border-2 border-gray-200">
                <div class="w-full py-4 px-5">
                    <h4 class="text-left text-zinc-800 text-xl font-medium">{{ str_limit(record.name|raw, 20) }}</h4>
                </div>
                <img src="/storage/app/media{{ record.image }}" alt="" class="w-full h-40 object-cover">
                <ul aria-label="Характеристики" class="w-full py-4 px-5">
                    <li class="w-full flex items-center justify-between mb-2">
                        <span class="font-medium text-zinc-800">SKU</span>
                        <span class="text-zinc-500 text-sm">{{ record.sku }}</span>
                    </li>
                    <li class="w-full flex items-center justify-between mb-2">
                        <span class="font-medium text-zinc-800 mr-2">Наименование</span>
                        <span title="{{ record.name }}" class="text-zinc-500 text-sm line-clamp" style="--line-clamp: 1;">{{ record.name }}</span>
                    </li>
                    <li class="w-full flex items-center justify-between mb-2">
                        <span class="font-medium text-zinc-800">Состояние</span>
                        <span class="text-zinc-500 text-sm">
                                            {% if record.condition == 1 %}
                                            Новое
                                            {% else %}
                                            Б/у
                                            {% endif %}
                        </span>
                    </li>
                    <li class="w-full flex items-center justify-between mb-2">
                        <span class="font-medium text-zinc-800">Наличие</span>
                        <span class="text-zinc-500 text-sm">
                                            {% if record.availability == 1 %}
                                            В наличии
                                            {% else %}
                                            Товар закончился
                                            {% endif %}
                        </span>
                    </li>
                    <li class="w-full flex items-center justify-between mb-2">
                        <span class="font-medium text-zinc-800">Совместимость</span>
                        <span class="text-zinc-500 text-sm">{{ record.compatibility }}</span>
                    </li>
                </ul>
                <div class="w-full flex justify-end pb-4 px-5">
                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" class="button-primary">Подробнее</a>
                </div>
            </div>
    {% endfor %}